//////////////////////////////////////////////////////
//LOGGEDOUT HTML STYLES
//////////////////////////////////////////////////////
body,
html {
    background-color: #34515E;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}

.register-form {
    font-size: 16px;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.regbutton {
    height: 50px;
    width: 200px;
    background-color: tomato;
    border-radius: 0px;
    font-size: 18px;
    color: white;
    border: none !important;
    margin-bottom: 5px;
}

.regbutton:hover {
    color: white;
    background-color: #aa422f;
}

.regbutton:active {
    color: white;
    background-color: #aa422f;
}

.logbutton {
    height: 50px;
    width: 200px;
    background-color: yellowgreen;
    border-radius: 0px;
    font-size: 18px;
    color: white;
    border: none !important;
    margin-bottom: 5px;
}

.logbutton:hover {
    color: white;
    background-color: darkolivegreen;
}

.logbutton:active {
    color: white;
    background-color: darkolivegreen;
}

.googlebutton {
    height: 50px;
    width: 400px;
    background-color: #13B1F0;
    border-radius: 0px;
    font-size: 18px;
    color: white;
    border: none !important;
    margin-bottom: 5px;
}

.register-form label {
    color: aliceblue;
}

.register-form input {
    margin-bottom: 5px;
    width: 430px;
    height: 40px;
    border-radius: 0px;
}

//////////////////////////////////////////////////
//LOGOUT/EDIT USER MODAL STYLES
//////////////////////////////////////////////////
body.modal-open #wrap {
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

.modal-backdrop {
    background: #f7f7f7;
}

.close {
    font-size: 50px;
    display: block;
}

////////////////////////////////////////////////////
//NAVBAR STYLES
////////////////////////////////////////////////////
.navbar-color-r {
    background-color: red;
}

.navbar-color-r a {
    color: white;
}

.c1 .active {
    color: black;
    background-color: white;
    border-bottom: 3px solid green;
}

.ul2 li a {
    border-bottom: 3px solid red;
}

.ul2 li a:hover,
.ul2 li a:active,
.ul2 li a:focus {
    background: white;
    color: black;
    border-bottom: 3px solid green;
}

.icon-bar {
    background-color: white;
}

.btn {
    border: 2px solid white;
}

/////////////////////////////////////////////////
//USER PROFILE VIEW CARDS
/////////////////////////////////////////////////
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
body {
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #cfcfcf;
    background: -webkit-linear-gradient(45deg, rgba(22, 167, 175, 0.6) 5%, rgba(23, 27, 158, 0.7) 55%, rgba(68, 9, 82, 0.5) 100%) no-repeat;
    background: linear-gradient(45deg, rgba(22, 167, 175, 0.6) 5%, rgba(23, 27, 158, 0.7) 55%, rgba(68, 9, 82, 0.5) 100%) no-repeat;
    background-size: 200%;
    color: #FFF;
}

html,
body {
    height: 100%;
}

.cards-wrapper {
    position: relative;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card-wrapper {
    display: block;
    float: left;
    position: relative;
    margin: 0;
    width: 28%;
    height: 0;
    padding: 0 0 28%;
    -webkit-perspective: 700px;
    perspective: 700px;
}

.card-object {
    color: #FFF;
    display: block;
    float: left;
    position: absolute;
    top: 6%;
    left: 6%;
    width: 88%;
    height: 88%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card-object.card-1 .front {
    background: #222 url(http://media.istockphoto.com/photos/ambulance-car-picture-id462435841?k=6&m=462435841&s=612x612&w=0&h=hv_9y25mpy8cnEMgUqcyYJZFgFFctjnLyRBOt8gbF5c=) 90% 30% no-repeat;
    background-size: 150%;
}

.card-object.card-3 .front {
    background: #222 url(http://s7.qtrpages.info/storage/app/media/2.jpg) 80% 100% no-repeat;
    background-size: 130%;
}

.face {
    color: #fff;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.face.front {
    z-index: 20;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.face.front::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.1) 100%) no-repeat;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.1) 100%) no-repeat;
    opacity: .8;
    z-index: 20;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.face.front::after {
    position: absolute;
    top: 7%;
    right: 7%;
    bottom: 7%;
    left: 7%;
    border: 1px solid rgba(255, 255, 255, 0.35);
    z-index: 100;
    content: "";
}

.face.front .title-wrapper {
    position: absolute;
    bottom: 3%;
    left: 25%;
    right: 25%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 100;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .28s ease;
    transition: -webkit-transform .28s ease;
    transition: transform .28s ease;
    transition: transform .28s ease, -webkit-transform .28s ease;
}

.face.front .title-wrapper .title {
    position: relative;
    font-family: 'Archivo Black', sans-serif;
    width: 100%;
    text-transform: uppercase;
    font-size: 2vw;
    line-height: 1;
    opacity: .8;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.face.front .title-wrapper .title::after {
    display: block;
    margin: 7% auto 8% auto;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #fff;
    opacity: .5;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .15s;
    transition: -webkit-transform .15s;
    transition: transform .15s;
    transition: transform .15s, -webkit-transform .15s;
}

.face.front .title-wrapper .subtitle {
    font-size: .9vw;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0;
    -webkit-transition: opacity .15s;
    transition: opacity .15s;
}

.face.front:hover::before {
    opacity: .9;
}

.face.front:hover .title-wrapper {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.face.front:hover .title-wrapper .title {
    opacity: 1;
}

.face.front:hover .title-wrapper .title::after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: .5;
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}

.face.front:hover .title-wrapper {
    opacity: .7;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}

.img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 38%;
    z-index: 10;
}

.img-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(14, 6, 70, 0.6);
    opacity: .7;
}

////////////////////////////////////////////////
//RADIO BUTTON - GENDER on ADD PATIENT MODAL
////////////////////////////////////////////////