<nav class="navbar navbar-color-r">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="btn navbar-toggle" data-toggle="collapse" data-target="#my">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BLS jump-Kit</a>
        </div>
        <div class="collapse navbar-collapse" id="my">
            <ul ng-controller="authCtrl" class="nav navbar-nav navbar-right ul2">
                <li><a href="#!/profile">EMT Profile</a></li>
                <li><a href="#!/menu">Assessment Menu</a></li>
                <li><a ng-click="logout()" href="#/">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>