<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />


<div class="wrapper">
    <div class="report-header">
        <h1>Patient Assessment Report</h1> -->
<!-- </div>
    <div class="pricing-table">
        <div class="pricing-option">
            <i class="material-icons">person</i>
            <h1>Vital Signs</h1>
            <hr />
            <p id="vitals"></p>
            <hr />
        </div> -->
<!-- 
        <div class="pricing-option">
            <i class="material-icons">local_hospital</i>-->
<h1>Patient History SAMPLE</h1>
<hr/>
<div ng-repeat="item in thisPatientHistory">
    <p id="history">{{item.symptoms}}</p>
</div>
<!-- </div>
        <hr />
    </div> -->

<!-- <div class="pricing-option">
            <i class="material-icons">art_track</i>
            <h1>Print design</h1>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum voluptatum, sit cum voluptatibus inventore quae qui provident eveniet dicta at, quibusdam ipsam iusto reprehenderit hic saepe nesciunt sed illo.</p>
            <hr />
            <div class="price">
                <div class="front">
                    <span class="price">999 <b>$</b></span>
                </div>
                <div class="back">
                    <a href="#" class="button">Purchase now</a>
                </div>
            </div>
        </div>
    </div>
</div> -->