<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />


<h1>Patient Report</h1>
<h3>Our patient is a {{age}} year old {{gender}}. We were called for the {{calledFor}}</h3>

<div class="pricing-table">
    <div class="pricing-option">
        <i class="material-icons">person</i>
        <h1>SAMPLE</h1>
        <h3>Patient Medical History</h3>
        <hr/>
        <!-- <div ng-repeat="item in thisPatientHistory"> -->
        <p id="history">The patient is displaying: {{thisPatientHistory.symptoms}}</p>
        <p id="history">{{gender}} has allergies to: {{thisPatientHistory.allergies}}</p>
        <p id="history">The patient is currently on{{thisPatientHistory.medications}}</p>
        <p id="history">They have a history of{{thisPatientHistory.pastIllness}}</p>
        <p id="history">{{gender}} last oral intake was {{thisPatientHistory.lastIntake}} ago.</p>
        <p id="history">The patient was{{thisPatientHistory.eventsTo}}</p>
        <p id="history">Additionally, {{thisPatientHistory.notes}}</p>
        <!-- </div> -->
    </div>
</div>


<!-- <div class="pricing-option">
            <i class="material-icons">perm_identity</i>
            <h1>Ux design</h1>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum voluptatum, sit cum voluptatibus inventore quae qui provident eveniet dicta at, quibusdam ipsam iusto reprehenderit hic saepe nesciunt sed illo.</p>
            <hr />
            <div class="price">
                <div class="front">
                    <span class="price">399 <b>$</b></span>
                </div>
                <div class="back">
                    <a href="#" class="button">Purchase now</a>
                </div>
            </div>
        </div>

        <div class="pricing-option">
            <i class="material-icons">art_track</i>
            <h1>Print design</h1>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum voluptatum, sit cum voluptatibus inventore quae qui provident eveniet dicta at, quibusdam ipsam iusto reprehenderit hic saepe nesciunt sed illo.</p>
            <hr />
            <div class="price">
                <div class="front">
                    <span class="price">999 <b>$</b></span>
                </div>
                <div class="back">
                    <a href="#" class="button">Purchase now</a>
                </div>
            </div>
        </div>
    </div> -->