<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />


<h1 id="title-report">Patient Report</h1>

<div class="pricing-table">
    <div class="pricing-option">
        <i class="material-icons">perm_identity</i>
        <h1>SAMPLE</h1>
        <h3>Patient Medical History</h3>
        <hr/>
        <p><b>S</b>ymptoms: <b></b></p>
        <div ng-repeat="symptom in thisPatientHistory.symptoms">
            <p class="history"><b>{{symptom.label}}</b></p>
        </div>
        <p><b>A</b>llergies: <b></b></p>
        <div ng-repeat="allergy in thisPatientHistory.allergies">
            <p class="history"><b>{{allergy.label}}</b></p>
        </div>
        <p><b>M</b>edications: <b></b></p>
        <div ng-repeat="med in thisPatientHistory.medications">
            <p class="history"><b>{{med.label}}</b></p>
        </div>
        <p><b>P</b>ast Medical History: <b></b></p>
        <div ng-repeat="past in thisPatientHistory.pastIllness">
            <p class="history"><b>{{past.label}}</b></p>
        </div>
        <p><b>L</b>ast Oral Intake: <b></b></p>
        <div ng-repeat="last in thisPatientHistory.lastIntake">
            <p class="history"><b>{{last.label}}</b></p>
        </div>
        <p><b>E</b>vents prior to call: <b></b></p>
        <div ng-repeat="event in thisPatientHistory.eventsTo">
            <p class="history"><b>{{event.label}}</b></p>
        </div>
        <hr>
        <p id="history">Additional Notes: <b>{{thisPatientHistory.notes}}</b></p>
    </div>
</div>