<h3>

    Today's Patients</h3>


<div ng-repeat="thingy in allPatients">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-6"><a ng-href="#!/menu/{{thingy.id}}">{{ thingy.patientId }}</a></div>
            <div class="col-xs-2">{{thingy.calledFor}}</div>
            <!-- <div class="col-xs-2">{{thingy.gender}}</div> -->
            <div class="col-xs-1"><button ng-click="deletePatient(thingy.id)" class="btn btn-danger">X</button></div>
        </div>
    </div>
</div>

<!-- 
<h3>Completed</h3>
<div ng-repeat="thingy in patients">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-6"><a ng-href="#!/task/{{thingy.id}}">{{thingy.patients}}</a></div>
            <div class="col-xs-2">{{thingy.dueDate}}</div>
            <div class="col-xs-2">{{thingy.assignedTo}}</div>
            <div class="col-xs-1"><button ng-click="deleteTask(thingy.id)" class="btn btn-danger">X</button></div>
        </div>
    </div>
</div> -->