<!-- LOGOUT/(STRETCH)USER EDIT PROFILE MODAL -->
<div id="wrap" class="text-center">
    <!-- Button trigger modal -->
    <br>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Settings</button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                <br><br>
                <!-- <button><a ng-click="logout()" data-dismiss="modal" href="#/">Logout</a></button>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6"> -->
                <a href="#/"><button ng-click="logout()" data-dismiss="modal" class="btn btn-default logbutton">Logout</button></a>
            </div>
            <hr>
        </div>
    </div>
</div>
</div>


<!-- PROFILE PAGE CARD VIEW -->
<div class="cards-wrapper">
    <div class="card-wrapper">
        <div class="card-1 card-object card-object-hf">
            <div id="wrap" class="text-center">
                <a class="face front" data-toggle="modal" data-target="#myModal2">
                    <div class="title-wrapper">
                        <div class="title">Add Patient</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="card-wrapper">
        <div class="card-3 card-object card-object-hf">
            <a class="face front" href="#">
                <div class="title-wrapper">
                    <div class="title">Select Patient</div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- ADD PATIENT MODAL -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                <br><br>
                <div class="col-sm-12">
                    <h4>Add Patient</h4>
                    <div class="panel panel-default">
                        <div class="panel-body form-horizontal payment-form">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="concept" name="concept" placeholder="Run Number">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="description" name="description" placeholder="Called For">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-center">
                                    <button type="button" class="btn btn-default preview-add-button">
                                                <span class="glyphicon glyphicon-plus"></span> Add
                                            </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>


<!-- SCRAPS -->
<!-- radio button -->
<div class="form-group">
    <div class="col-sm-7 col-md-7">
        <div class="input-group">
            <div id="radioBtn" class="btn-group">
                <a class="btn btn-primary btn-sm active" data-toggle="gender" data-title="female">Female</a>
                <a class="btn btn-primary btn-sm notActive" data-toggle="happy" data-title="male">MALE</a>
            </div>
            <input type="hidden" name="gender" id="gender">
        </div>
    </div>
</div>

<!-- 
<div class="container">
    <div class="row">
        <div class="col-sm-12">
        </div>
        
        <div class="col-sm-5">
            <h4>Add Patient</h4>
            <div class="panel panel-default">
                <div class="panel-body form-horizontal payment-form">
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="concept" name="concept" placeholder="Run Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="description" name="description" placeholder="Called For">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="button" class="btn btn-default preview-add-button">
                                    <span class="glyphicon glyphicon-plus"></span> Add
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div-->
<!-- 
        <div class="col-sm-7">
            <h4>Preview:</h4>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table preview-table">
                            <thead>
                                <tr>
                                    <th>Concept</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <!-- preview content goes here-->
</table>
</div>
</div>
</div>
<div class="row text-right">
    <div class="col-xs-12">
        <h4>Total: <strong><span class="preview-total"></span></strong></h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <hr style="border:1px dashed #dddddd;">
        <button type="button" class="btn btn-primary btn-block">Submit all and finish</button>
    </div>
</div>
</div>
</div>
</div-->